body {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navButton {
  color: white;
  font-weight: bold;
}
.formFieldContainer {
  padding-left: 32px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
